* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

figure {
    margin: 0px;
}


/* header*/



.section_header {
    display: flex;
    align-items: center;
    width: 1600px;
    height: 80px;
    padding: 32px;



}

.logo {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
    cursor: pointer;
    margin-right: 93px;

    text-decoration: none;
}

.section {
    padding: 94px 0;

}

.header_ul {
    display: flex;
    padding: 0px;
    margin-right: 300px;

}

.header_contact_ul {
    display: flex;
    padding: 0px;
}

.header-ul a {

    text-decoration: none;
    color: black;
}

.header_ul,
.header_contact_ul {
    list-style-type: none;



}



.stady,
.portfolio,
.contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    list-style-type: none;
    margin-right: 50px;
    color: black;
    margin-right: 50px;
    cursor: pointer;
}



.header_ul .stady:focus,
.portfolio:focus,
.contact:focus,
.header_ul .stady:hover,
.portfolio:hover,
.contact:hover {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}





.email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: inline-flex;
    padding-left: 10px;
    margin-right: 50px;
    text-decoration: none;
    list-style-type: none;
    color: #757575;

    cursor: pointer;
}

.number {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    list-style-type: none;
    color: #757575;
    cursor: pointer;

}

.email:focus,
.email:hover {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}

.number:hover,
.number:focus {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}

/* header */

/* section tittle */
.tittle {
    background-image: url(../images/fondo-header.png);
    background-size: contain;


    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 250px;

    margin: 0 auto;
}

.section1-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;

    color: #FFFFFF;
}



.btn-primary {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.9;
    font-size: 16px;
    font-weight: 700;
    background-color: #2196f3;
    margin-top: 50px;

    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;

}


.btn-primary:hover {
    background-color: #0365a6;
    color: #F5F4FA;
}


/* section tittle */


/* detailed section */

.detailed ul {


    width: 1170px;
    height: 122px;
    padding: 0px;
}

.detailed h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121;

    margin-bottom: 10px;

}

.detailed p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;

    margin: 0px;
}

.detailed ul {
    display: inline-flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;

    gap: 30px;
    padding-left: 0px;

}

h3 {
    margin: 0;
}

.section_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;


    text-transform: initial;
    justify-content: center;
}

.detailed ul {

    flex-basis: calc(100% - 30px / 4);
}

.first_rectangle {

    width: 270px;



    border-radius: 4px;
    background: #F5F4FA;
}

.first_rectangle img {}

/* detailed section */

/* section dedication */
.dedication {
    margin-top: 94px;
    margin-bottom: 94px;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.dedication_ul {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-bottom: 94px;
    list-style-type: none;
}

.box1 {
    background: url(../images/imagen1.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

}

.box2 {
    background: url(../images/imagen2.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.box3 {
    background: url(../images/imagen3.jpg);

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.dedication_ul {
    flex-basis: calc(100% - 46px / 3);
}

/* section dedication */

/* section our__team */
.our__team {
    height: 648px;
    padding: 94px 0px;
    margin-top: 94px;
    background: #F5F4FA;
    text-align: center;
    justify-content: auto;
}

.our__team .titlle4 {
    margin-bottom: 50px;
    margin-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our__team p {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
}

.our__team_ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.our__team_image .name_worker {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: #212121;

}

.profesion {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.our__team_image {

    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.autor {
    padding: 30px 40px;
}

/* section our__team */


/* section regular_customers*/

.linea {
    border: 1px solid #ececec;
    margin: 0px;
}


li {
    padding-inline-start: 0px;
}

.list1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

}



.button-0 {

    background-color: #F5F4FA;
    width: auto;
    height: auto;
    border: 0;
    list-style-type: none;
    font-family: Roboto;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
    margin-right: 8px;
    padding: 6px 24px;
    border-radius: 4px;
}

.filters .list1 .button-0:hover,
.filters .list1 .button-0:focus {
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196f3;
}

/* section regular_customers*/

/* section projects */

.projects ul {
    list-style-type: none;
}

.projects a {
    text-decoration: none;
}

.projects_li {
    width: 370px;
    list-style: none;
    text-decoration: none;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.image1:hover,
.image1:focus {
    box-sizing: border-box;
    position: absolute;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    width: 370px;
}

.tittle10 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.tittle11 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* section projects */

/* Clientes Regulares*/
.regular_customers {
    display: flex;
}

.rectangulo {
    width: 170px;
    height: 81px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: inline-block;
    margin-right: 30px;


}

.regular_customers ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regular_customers ul img {

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clientes Regulares*/

/* footer */
.footer {
    display: flex;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: flex-start;
    margin-top: 66px;
}

.footer_div {
    display: flex;

}

.footer .logo {
    margin-top: 0px;
    margin-bottom: 9px;

}

address p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer_email,
.footer_phone {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: #757575;
    padding-left: 0px;
}

.footer_phone:hover,
.footer_email:hover {
    color: #2196f3;

}



/* footer */