* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

figure {
    margin: 0px;
}

/* header*/



.section_header {
    display: flex;
    justify-content: space-between;
    height: 8px;
    align-items: center;


}

.logo {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
    padding: 35px 0px;
    margin-right: 100px;
    cursor: pointer;

    text-decoration: none;
}

.section {
    padding: 94px 0;

}

.header-nav {
    padding: 35px 0px;
}

.header_ul {
    display: flex;
    padding: 0px;
}

.header-ul a {

    text-decoration: none;
    color: black;
}

.header_ul {
    list-style-type: none;
    margin: 0px;


    margin-right: 60px;
}

.header-nav {
    margin-right: 150px;
}

.stady,
.portfolio,
.contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    list-style-type: none;
    margin-right: 50px;
    color: black;
    margin-right: 50px;
    cursor: pointer;
}


.header-nav.header-ul.stady :hover :focus,
.header-nav .header-ul.portfolio :hover :focus,
.header-nav.header-ul.contact :hover :focus {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}



.section_header2 {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 35px 0px;

}

.email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: inline-flex;
    padding-left: 10px;
    margin-right: 50px;
    text-decoration: none;
    list-style-type: none;
    color: #757575;

    cursor: pointer;
}

.number {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    list-style-type: none;
    color: #757575;
    cursor: pointer;

}

.section_header2 .email:focus,
.section_header2 .email:hover {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}

.section_header2 .number:hover,
.section_header2 .number:focus {
    color: #2196f3;
    fill: #2196f3;
    border-color: #2196f3;
}

/* header */

/* section1 */
.section1 {

    background: #2F303A;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 250px;

    margin: 0 auto;
}

.section1-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;

    color: #FFFFFF;
}



.btn-primary {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.9;
    font-size: 16px;
    font-weight: 700;
    background-color: #2196f3;
    margin-top: 50px;

    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;

}


.btn-primary:hover {
    background-color: #0365a6;
    color: #F5F4FA;
}



/* section1 */


/* section2 */

.section2 ul {


    width: 1170px;
    height: 122px;
    padding: 94px 0px;
}

.section2 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121;

    margin-bottom: 10px;

}

.section2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;

    margin: 0px;
}

.section2 ul {
    display: inline-flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;

    gap: 30px;
    padding-left: 0px;

}

h3 {
    margin: 0;
}

.section_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;


    text-transform: initial;
    justify-content: center;
}

.section2 ul {

    flex-basis: calc(100% - 30px / 4);
}




/* section2*/
/* section3 */
.section3 {
    margin-top: 94px;
    margin-bottom: 94px;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.section3_ul {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-bottom: 94px;
    list-style-type: none;
}

.box1 {
    background: url(../images/imagen1.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

}

.box2 {
    background: url(../images/imagen2.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.box3 {
    background: url(../images/imagen3.jpg);

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.section3_ul {
    flex-basis: calc(100% - 46px / 3);
}


/* section3*/
/* section4 */
.section4 {
    height: 648px;
    padding-top: 94px;
    margin-top: 94px;
    background: #F5F4FA;
    text-align: center;
    justify-content: auto;
}

.section4 .titlle4 {
    margin-bottom: 50px;
    margin-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.section4 p {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
}

.section4_ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.section4_image .name_worker {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: #212121;

}

.profesion {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.section4_image {

    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.autor {
    padding: 30px 40px;
}

/* section4 */




/* section5 */

.linea {
    border: 1px solid #ececec;
    margin: 0px;
}


li {
    padding-inline-start: 0px;
}

.list1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}



.button-0 {

    background-color: #F5F4FA;
    width: auto;
    height: auto;
    border: 0;
    list-style-type: none;
    font-family: Roboto;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
    margin-right: 8px;
    padding: 6px 24px;
    border-radius: 4px;
}

.section5 .list1 .button-0:hover,
.section5 .list1 .button-0:focus {
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196f3;
}

/* section5 */
/* section6 */

.section10 {
    padding-top: 50px;
    margin-bottom: 94px;
}

.section10 ul {
    list-style-type: none;
}

.section10 a {
    text-decoration: none;
}

.section10_li {
    width: 370px;
    list-style: none;
    text-decoration: none;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.image1:hover,
.image1:focus {
    box-sizing: border-box;
    position: absolute;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    width: 370px;
}

.tittle10 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.tittle11 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}


/* section6 */





/* footer */
.footer {
    display: flex;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: flex-start;

}

.footer_div {
    display: flex;

}

.footer .logo {
    margin-top: 0px;
    margin-bottom: 9px;

}

address p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer_email,
.footer_phone {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: #757575;
    padding-left: 0px;
}

.footer_phone:hover,
.footer_email:hover {
    color: #2196f3;

}



/* footer */